.author {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #e5e5e5;
	margin: 0px;
	padding: 0px;
}
.author:after {
	content: "";
	display: inline-block;
	background: url("../img/icon-author.png") no-repeat top right;
	padding-left: 10px;
	width: 14px;
	height: 14px;
}

#HeadlineZielgruppe {
	margin-top:35px;
	background-image: url("../img/DokuTitel/title-Zielgruppe.png");
}
#stufamiliy {
	width: 100%;
	margin-top: 33px;
}
#studenttext {}
#mekibild {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 33px;
}
#HannaPic {
	width: 100%;
}
#photostack-1 {
	margin-top: 33px;
	/*margin-bottom: 33px;*/
}
