.author {
	font-family: "Open Sans";
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #e5e5e5;
	margin: 0px;
	padding: 0px;
}
#testcontent{
	    overflow-x: hidden;
	position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
}
iframe{
	overflow-x: hidden;
	height: 100%;
	width: 100%;

background-color: transparent;
border: 0 none transparent;
padding: 0;
overflow: hidden;
}


.author:after {
	content: "";
	display: inline-block;
	background: url("../img/icon-author.png") no-repeat top right;
	padding-left: 10px;
	width: 14px;
	height: 14px;
}
#herz{
	left: 34%;
    position: fixed;
    z-index: -10;
    top: 56%;
    opacity: 0.8;
}
#HeadlineZielgruppe {
	margin-top:35px;
	background-image: url("../img/DokuTitel/title-Zielgruppe.png");
}
#dankbild{
width: 100%;
}
#title_danksagung {
	margin-top:35px;
	background-image: url("../img/DokuTitel/title-danksagung.png");
}
#stufamiliy {
	width: 100%;
	margin-top: 33px;
}
#studenttext {}
#mekibild {
	width: 80%;
	margin: auto;
	display: block;
	margin-top: 33px;
}
#HannaPic {
	width: 100%;
}
#photostack-1 {
	margin-top: 33px;
	/*margin-bottom: 33px;*/
}

.photostack-title{
	color: white;
}
