/* ********************************************************** */
/* Cascading Style Sheets zur Dokumentbehandlung V. 2.1       */
/* (c) Frank U. Kugelmeier, Attendorn 2009                    */
/* Erstellungsdatum: 19.02.2009                               */
/* ********************************************************** */

body
  {
  color:#000000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:12pt;
  background-image:url(../g/tp_hg1.gif);
  background-color:#FFFFFF;
  margin-left:10%;
  margin-right:10%;
  }

h1                                          /* 1. Überschrift */
  {
  color:#800000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:20pt;
  font-weight:bold;
  text-align:center;
  }

h2                                          /* 2. Überschrift */
  {
  color:#000000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:16pt;
  font-weight:bold;
  text-align:center;
  }

h3                                          /* 3. Überschrift */
  {
  color:#800000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:14pt;
  font-weight:bold;
  text-align:center;
  }

h4                                          /* 4. Überschrift */
  {
  color:#800000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:14pt;
  font-weight:bold;
  text-align:left;
  }

h5                                          /* 5. Überschrift */
  {
  color:#000000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:13pt;
  font-weight:bold;
  font-style:italic;
  text-align:left;
  }

h6                                          /* 6. Überschrift */
  {
  color:#800000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:12pt;
  text-align:left;
  }

code                                        /* nichtproportionale Schrift */
  {
  font-size:12pt;
  }

p                                           /* Abschnitt im Blocksatz */
  {
  text-align:justify;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:12pt;
  }

p.zentralklein                              /* Abschnitt zentriert*/
  {
  text-align:center;
  font-family:"Trebuchet MS",Arial,sans-serif;
  color:#800000;
  font-size:10pt;
  }

hr                                          /* Trennlinien-Farbe */
  {
  color:#00AFAF;
  clear:both;
  }

hr.strich                                   /* kurze Trennlinie */
  {
  color:#00AFAF;
  clear:both;
  text-align:left;
  width:33%;
  }

border                                      /* 3-D-Rand */
  {
  border-style:ridge;
  }

table.spezialtabelle                        /* Spezialtabelle */
  {
  border-width:1px;
  border-style:solid;
  border-color:black;
  background-color:silver;
  }

td.starttext                                /* formatierter Text auf der Startseite */
  {
  text-align:justify;
  padding-left:15px;
  padding-right:15px;
  }

.hinter                                     /* Tabellenzellen-Hintergrund */
  {
  background-color:#008080;
  background-image:url(../g/tp_hg5.gif);
  vertical-align:middle;
  text-align:left;
  }

ul
  {
  list-style-image:url(../g/tp_punkt.gif);  /* Listenpunkt */
  }

ul.pfeil
  {
  list-style-image:url(../g/tp_pfeil.gif);  /* Listenpfeil "vorwärts" */
  font-size:12pt;
  }

.rueck
  {
  list-style-image:url(../g/tp_rueck.gif);  /* Listenpfeil "zurück" */
  font-size:12pt;
  }

li                                          /* Listenelement-Inhalt (Ausrichtung) */
  {
  text-align:justify;
  }

table.standard                              /* Standard-Tabellenschrift */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:12pt;
  }

.balken
  {
  background-image:url(../g/tp_hg3.gif);    /* Balken-Design */
  width:100%;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  clear:both;
  }

span.balken                                 /* Überschrift im Balken */
  {
  color:#DFDFDF;
  border-style:none;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:16pt;
  font-weight:bold;
  }

.rahmen                                     /* Rahmen */
  {
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  }

img.rahmenlos                               /* Rahmenloses Bild */
  {
  border:none;
  }

img.linksabstand                            /* Bild links mit Abstand */
  {
  float:left;
  margin-right:50px;
  margin-left:1px;
  margin-top:7px;
  margin-bottom:10px;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  background-color:#808080;
  }

img.links                                   /* Bild links */
  {
  float:left;
  margin-left:1px;
  margin-right:15px;
  margin-top:7px;
  margin-bottom:10px;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  }

img.tablinks                                 /* Tabellen-Bild links */
  {
  margin-left:0px;
  margin-right:15px;
  margin-top:0px;
  margin-bottom:0px;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  }

img.linksohne                               /* Bild links ohne Rahmen*/
  {
  float:left;
  margin-left:1px;
  margin-right:15px;
  margin-top:7px;
  margin-bottom:10px;
  border-style:none;
  }

img.rechts                                  /* Bild rechts */
  {
  float:right;
  margin-left:15px;
  margin-right:1px;
  margin-top:7px;
  margin-bottom:10px;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  }

img.tabrechts                               /* Tabellen-Bild rechts */
  {
  margin-left:15px;
  margin-right:0px;
  margin-top:0px;
  margin-bottom:0px;
  border-style:solid;
  border-width:1px;
  border-color:#00AFAF;
  }

img.rechtsohne                              /* Bild rechts ohne Rahmen */
  {
  float:right;
  margin-left:15px;
  margin-right:1px;
  margin-top:7px;
  margin-bottom:10px;
  border-style:none;
  }

sub                                         /* tiefgestellte Schrift */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:8pt;
  }

sup                                         /* hochgestellte Schrift */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:8pt;
  }

.mitte                                      /* zentrierte Ausgabe */
  {
  text-align:center;
  }

.block                                      /* Ausgabe im Blocksatz */
  {
  text-align:justify;
  }

.linksbund                                  /* linksbündige Ausgabe */
  {
  text-align:left;
  }

.rechtsbund                                 /* rechtsbündige Ausgabe */
  {
  text-align:right;
  }

.schrift                                    /* Standardschrift */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:12pt;
  }

.markant                                    /* hervorgehobener Text */
  {
  color:#FFFF00;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:13pt;
  font-weight:bold;
  }

.solide                                     /* hervorgehobener Text (Variante) */
  {
  color:#800000;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:13pt;
  font-weight:bold;
  }

.klein                                      /* kleine Schrift auf Schaltknöpfen */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:10pt;
  font-weight:bold;
  margin-left:8px;
  margin-right:8px;
  }

.kleinst                                    /* noch kleinere Schrift auf Schaltknöpfen */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:8pt;
  font-weight:bold;
  margin-left:8px;
  margin-right:8px;
  }

.mini                                       /* kleine Schrift */
  {
  color:#800000;
  font-size:10pt;
  }

.mini2                                      /* kleine Schrift ohne Farbvorgabe */
  {
  font-size:10pt;
  }

.mikro                                      /* kleinste Schrift ohne Farbvorgabe */
  {
  font-size:5pt;
  }

.maxi                                       /* große Schrift */
  {
  color:#800000;
  font-size:14pt;
  }

.maxifett                                   /* 4. Überschrift */
  {
  color:#800000;
  font-size:14pt;
  font-weight:bold;
  }

.grau                                       /* grauer Hintergrund */
  {
  background-color:#DFDFDF;
  }

.blau                                       /* "blauer" Hintergrund */
  {
  background-color:#009C9C;
  }

.gelb                                       /* "gelber" Hintergrund */
  {
  background-color:#00ACAC;
  }

.effekt1                                    /* Effekt 1 */
  {
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:30pt;
  font-weight:bold;
  width:100%;
  color:red;
  }

a                                           /* Standard-Verweis */
  {
  color:#800000;
  text-decoration:none;
  }

a:hover                                     /* angewählter Standard-Verweis */
  {
  color:#FFFFFF;
  text-decoration:none;
  }

a.gross                                     /* großer Verweis */
  {
  color:#800000;
  font-size:13pt;
  text-decoration:none;
  }

a.gross:hover                               /* angewählter großer Verweis */
  {
  color:#FFFFFF;
  font-size:13pt;
  text-decoration:none;
  }

a.menu                                      /* Verweis als Schaltknopf */
  {
  background-image:url(../g/tp_hg2.gif);
  width:110px;
  border: #800000 1px solid;
  font-family:"Trebuchet MS",Arial,sans-serif;
  font-size:10pt;
  font-weight:bold;
  padding-bottom:3px;
  padding-left:3px;
  padding-right:3px;
  padding-top:3px;
  color:#000000;
  text-align:center;
  text-decoration:none;
  display:inline;
  }

a.menu:hover                                /* angewählter Verweis als Schaltknopf */
  {
  background-image:url(../g/tp_hg4.gif);
  border-color:#800000;
  color:#FFFFFF;
  text-decoration:none;
  display:inline;
  }

a.menu:active                               /* angeklickter Verweis als Schaltknopf */
  {
  color:#FF0000;
  }

suche                                       /* Fußnoten-Formatierung für die Stichwortsuche */
  {
  text-align:justify;
  font-family:"Trebuchet MS",Arial,sans-serif;
  }