/**
 * Stylesheets for plugin bb_products_request
 */
#productsRequestModal .modal-body .intro {
	margin-bottom: 15px;
}
#productsRequestModal .modal-body strong {
	font-weight: 600;
}
#productsRequestModal .modal-body form label {
	width: 200px;
	display: inline-block;
	vertical-align: top;
}
#productsRequestModal .modal-body form input,
#productsRequestModal .modal-body form textarea {
	width: 250px;
	display: inline-block;
}
#productsRequestModal .modal-body form #captcha-img {
	margin-left: 200px;
	margin-bottom: 15px;
}
