/* KONFIGURATOR */

.buipc_bundleContainer {
    margin-bottom: 20px;
}

.buipc_bundleContainer table{
    margin:0 !important;
    width:100%
}

.buipc_bundleContainer a {
    display: inline-block;
}

.buipc_bundleContainer .buipc_label {
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 0 10px;
    min-width: 300px;
    text-align: left;
    width: 20%;
}

.buipc_bundleContainer .buipc_selections {
    float: right;
    width: 64%;
    border: 1px solid #C2C3C5;
    padding: 0 20px 0 6px;
    font-size: 11px;
    text-align:left;
}


.buipc_head,
.buipc_content {
    clear:both;
}

.buipc_content {
    padding:0;
}

/**
 * Accordion Header
 */

.buipc_header {
    margin-top: 20px;
    text-align:left;
}

.buipc_head {
    background: none repeat scroll 0 0 #EEEEEE;
    border-bottom: 1px solid #CCCCCC;
    display: inline-block;
    width: 100%;
    cursor:pointer;
}

.buipc_head .name {
    display:block;
    float:left;
    width:70%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.buipc_head .price {
    width:30%;
    font-weight: bold;
    float: right;
    text-align: right;
}

.buipc_head .buipc_selections{
    background: url(../../../media/icons/bullet_arrow_down.png) no-repeat right top;
    border:none;
}

.buipc_selected .buipc_head .buipc_selections{
    background: url(../../../media/icons/bullet_arrow_up.png) no-repeat right top;
    border:none;
}

/**
 * Accordion Content
 */

 .buipc_content {
     display:none;
 }

 .buipc_content input[type=radio]{
     cursor:pointer;
 }

.buipc_content .buipc_BundlePrice{
    width: 100px;
}

.buipc_image_slide_image {
    display:none;
}


/**
 * Calculation View
 */


.buipc_CalcContainer .buipc_label {
    font-weight:bold;
}

.buipc_CalcContainer .buipc_price {
    text-align: right;
    padding: 0 10px;
}

.buipc_CalcContainer .buipc_stock {
    padding: 0 10px;
    text-align: right;
    width: 130px;
}
/* chapter2 - removed annoying !important
.buipc_CalcContainer .buipc_label.total,
.buipc_CalcContainer .buipc_price.total b{
    font-size: 16px !important;
}
*/

.buipc_TextRight {
    text-align: right;
}
.buipc_TextLeft {
    text-align: left;
}

.buipc_FloatLeft {
    float:left;
}
.buipc_FloatRight {
    float:right;
}



/**
 * Simple Download
 */

 .buipc_bundleContainer select {
     width:100%;
 }


/**
 * Komponent Info Popup
 */
#buipc_desc {
    padding:20px;
    background:#fff;
}

.nyroModalCont iframe {
    width: 940px !important;
    height: 500px !important;
}

.nyroModalCont a, .nyroModalCont a.link {
    background:no-repeat;
}
