@font-face {
	font-family: 'DINWebPro-Black';
	src: url('../fonts/DINWebPro-Black.eot');
}
@font-face {
	font-family: 'DINWebPro-Black';
	src: url('../fonts/DINWebPro-Black.woff') format('woff');
}

@font-face {
	font-family: 'DINWebPro-Bold';
	src: url('../fonts/DINWebPro-Bold.eot');
}
@font-face {
	font-family: 'DINWebPro-Bold';
	src: url('../fonts/DINWebPro-Bold.woff') format('woff');
}

@font-face {
	font-family: 'DINWebPro-Light';
	src: url('../fonts/DINWebPro-Light.eot');
}
@font-face {
	font-family: 'DINWebPro-Light';
	src: url('../fonts/DINWebPro-Light.woff') format('woff');
}