/* *************************************************************************** */
/* PRINT STYLES KONSTANZ                                                       */
/* *************************************************************************** */


* {
    color: black !important;
    font-family: georgia, serif !important;
}

#printBack
{
    display: block;
    margin: 10px 0 10px 12px;
    padding: 0 0 10px 10px;
    border-bottom: 1px dashed black;
    font-size: 0.69em;
}

@media print {
    #printBack
    {
        display: none;
    }
    #printServiceContainer
    {
        display: none;
    }
}

#printServiceContainer {
  font-size: 0.69em;
}

body {
    background-color: white;
    background-image: none;
}


#innerContentSmall, #innerContentBroad
{
    width: auto !important;
}


#serviceNavi {
    display: none;
}

.serviceNaviBalkenRechts {
    display: none;
}


#suche {
    display: none;
}


#webBodyDiv {
    background-color: white;
    background-image: none;
    width: auto;
    float: none;
    height: auto;
    padding: 0;
}


#webContentDiv {
    width: auto;
}

.sucheBalkenRechts {
    display: none;
}


#headerBild {
    display: none;
}

#headerBottom {
    display: none;
}

ul#globalnavi {
    display: none !important;
}


.eckeLinksOben {
    display: none;
}
.balkenOben {
    display: none;
}
.eckeRechtsOben {
    display: none;
}


#webHeaderDiv .logo {
    position: relative;
    margin: 0 0 20px 0;
    top: auto;
    left: auto;
}



#spalteMeldungen {
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
}

#spalteTopthemen {
    float: none;
    width: auto;
    margin: 0;
    padding: 0;
}


#linkeSpalte {
    display: none;
}
#rechteSpalte {
    display: none;
}
#rechteSpalteOhneBackground
{
    display: none;
}

.webTopContentNavigator {
    display: none;
}

#footer {
    display: none;
}

#SBSEmain {
    display: none;
}


#tagcloud {
    display: none;
}

#webNavigationDiv {
    display: none;
}

#mittlereSpalte {
    float: none;
    clear: both;
    display: block;
    position: relative;
    width: 40em !important;
    padding: 0;
    margin: 0;
}

img {
    float: none;
    page-break-inside: avoid !important;
}

.bildrechts, .bildlinks {
    float: none;
    margin: 0;
    padding: 0;
}

.formo
{
    display: none;
}

#linkListeforPrint
{
    list-style-type: decimal !important;
    font-size: 0.6em;
    line-height: 1.3;
}

#linkListeforPrint li
{
    font-family: verdana, arial, sans-serif !important;
}

sup.printFussNote
{
    font-size: 0.55em !important;
    font-family: verdana, arial, sans-serif !important;
    vertical-align: top !important;
}

.zurueckLink{
    display: none;
}

/* Abfuhrtermine */
.abfuhrkalender{
  padding-top: 10px;
}


.abisz{
    display: none;
}

.abfuhrtermine table.zusatzInfosKalender{
    display: none;
}
#globalnaviSubsite{
    display: none;
}


/* Serviceportal */

#showLeftPush {
    display: none;
}