@charset "UTF-8";

html{
margin: 0;
padding: 0;
}

body{
margin: 0;
padding: 0;
border: 0;
text-align: center;
font-family: "Trebuchet MS";
font-size: 16px;
background: #fff url(../../img/background.jpg) repeat-x left top;
color: #333;
}

.hidden{
visibility: hidden;
height: 0;
width: 0;
overflow: hidden;
}

.killfloat{
clear: both;
height: 0;
width: 0;
overflow: hidden;
}

.rel{
position: relative;
}

#pageshadow {
width: 998px;
margin: 0 auto;
background: url(../../img/pageshadow.png) repeat-y;
}


#page{
width: 980px;
margin: 0 auto 0 auto;
padding: 0;
text-align: left;
position: relative;
background: #66a8d3;
border-top: 0;
}

#page #quicksearch {
bottom: -160px;
}

#page.startseite #quicksearch #togglequicksearch {
background: url(../../../typo3conf/ext/ic_unterkuenfte/res/quicksearch-arrow.png) no-repeat 50% 50%;
}

#page.startseite #quicksearch {
bottom: 0px;
}

#page #quicksearch #togglequicksearch {
background: url(../../../typo3conf/ext/ic_unterkuenfte/res/quicksearch-arrow-inactive.png) no-repeat 50% 50%;
}

#pageshadow-bottom {
width: 998px;
margin: 0 auto 16px auto;
background: url(../../img/pageshadow-bottom.png) no-repeat;
height: 11px;
}

.dropShadowBackground {
	background-color: #000;
	overflow: hidden;
}

#top {
height: 489px;
overflow:hidden;
position: relative;
}


#karte {
height: 0px;
position: absolute;
/*top: 489px;*/
top: 102px;
left: 10px;
width: 960px;
height: 0px;
background: #ffffff;
overflow:hidden;
}

.logo {
position: absolute;
left: 10px;
top: 0;
}

.uksuche {
top: 340px;
left: 10px;
position: absolute;
}

#panorama {
padding-left: 10px;
}

#mapbutton {
position: absolute;
left: 905px;
top: 444px;
}

#startmapimage {
position: absolute;
right: 10px;
top: 370px;
}

#left {
float:left;
width: 329px;
min-height: 200px;
padding: 0;
display:block;
position: relative;
}

#right {
float:right;
display:block;
position: relative;
width: 621px;
}

#bottom {
width: 960px;
padding: 0 10px;
}


.rahmen-top {
background: url(../../img/sh-rahmen-top.png) no-repeat 0px 0px;
height: 9px;
display:block;
}

.rahmen{
background: #fff url(../../img/sh-rahmen.png) repeat-y 100% 0px;
margin-right: 10px;
overflow:hidden;
width: 610px;
padding-right: 9px;
}

.rahmen-bottom {
background: url(../../img/sh-rahmen-bottom.png) no-repeat 0px 0px;
height: 9px;
display:block;
}

.tr {
position: absolute;
right: 0px;
top: 0px;
width: 9px;
height: 9px;
display:block;
background: url(../../img/sh-ce-tr.png) no-repeat;
}

.bottom {
height: 9px;
width: 345px;
padding-left: 10px;
position: relative;
display:block;
z-index: 10;
/*background: url(../../img/sh-ce-bottom.png) repeat-x;*/
background: url(../../img/bg-sh-menubottom.png) no-repeat 10px 0px;
}

.br {
position: absolute;
right: 0px;
top: 0px;
width: 9px;
height: 9px;
background: url(../../img/sh-ce-br.png) no-repeat;
}

.bl {
position: absolute;
left: 0px;
top: 0px;
width: 9px;
height: 9px;
background: url(../../img/sh-ce-bl.png) no-repeat;
}

.teaser {
width: 207px;
height: 252px;
overflow:hidden;
float:left;
display:block;
position: relative;
background: url(../../img/bg-shadow-teaser.png) no-repeat 0px 0px;
margin-bottom: 15px;
}

.teaser .teasertext {
background: #d7e4f1;
width: 171px;
padding: 13px;
height: 70px;
position: relative;
}

.teaser .teasertext p{
margin: 0;
padding: 0;
line-height: 120%;
}

.teaser p.align-right {
text-align: right;
position: absolute;
bottom: 10px;
right: 10px;
}


.teaser p.align-center {
width: 159px;
height: 21px;
display:block;
text-indent: 28px;
}

.teaser p.align-center a{
background: url(../../img/bg-button-pauschalenteaser.png) no-repeat 0px 0px;
display:block;
height: 21px;
line-height: 21px;
text-transform: uppercase;
color: #fff;
font-weight: bold;
}

.teaser p.align-center a:hover{
background: url(../../img/bg-button-pauschalenteaser.png) no-repeat 0px -21px;
}


.teaser a {
font-size: 0.8125em;
}

.teaser h2 a {
font-size: 1em;
font-weight: bold;
}

.teaser .schild {
position: absolute;
right: 10px;
top: 80px;
width: 90px;
height: 84px;
background: url(../../img/bg-preisschild.png) no-repeat;
}

.teaser h3.preisschild {
position: absolute;
left: 13px;
top: 17px;
}

#flagcontainer {
position: absolute;
right: 10px;
width: 220px;
width:auto;
height: 24px;
top: 0;
overflow:hidden;
}

#flags {
position: relative;
width: 220px;
width: auto;
height: 24px;
background: #fff;
padding-top: 3px;
}

#arrow-language {
width: 10px;
background: url(../../img/arrow-language-active.gif) no-repeat 0 5px;
height: 17px;
float:left;
overflow:hidden;
}

#flags a{
margin-right: 5px;
}

#top .playerbtn{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width:  43px;
	height: 35px;
	line-height: 35px;
	font-size: 40px;
	font-weight: bold;
	color: #255075;
	background-color: #fff;
	text-align: center;
	background: url(../../img/playerbtn.png) no-repeat top left;
}

#top .playerbtn.pause{
	background-position: bottom left;
}@charset "UTF-8";
/* CSS MENU */

#topmenuwrap{
width: 541px;
padding-left: 30px;
height: 28px;
position: absolute;
top: 62px;
left: 400px;
z-index: 2;
background: #245075;
}


.homebutton {
position: absolute;
left: 0;
width: 20px;
height: 20px;
padding: 7px 0px 0 12px;
}

#topmenu{
display: block;
position: relative;
padding: 0;
}

#topmenu ul{
display: block;
list-style-type: none;
padding: 0;
margin: 0;
}

#topmenu .level1 li{
display: block;
padding: 0;
position: relative;
float:left;
height: 28px;
}

#topmenu .level1 a{
padding: 5px 10px;
height: 18px;
display: block;line-height: 120%;
color: #fff;
background: 
text-decoration: none;
background-repeat: no-repeat;
background-position: 5px top;
}

li#p18 a {
background-repeat: no-repeat;
background-position: 0px top !important;
}

#topmenu .level1 a span{
font-size: 0.875em;
}

#topmenu .level2{
display: none;
position: absolute;
width: 11.5em;
top: 28px;
left: 0;
background-image: url(../../img/bg-level2.png) !important;
background-repeat: repeat-y !important;
background-position: 3px top !important;
padding: 0 0 10px 0;
/*
background: #fff;
padding: 0.5em 1em;
filter:alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;*/
}

#topmenu .level2 a, #topmenu .level1 .act .level2 a{
color: #333;
background: transparent;
height: 1.5em;
line-height: 1.5em;
border: 0;
font-size: 0.85em;
}

#topmenu .level2 li a{
padding-left: 16px;
}

#topmenu .level2 li {
clear:both;
float:none;
display:block;
padding: 0;
margin: 0;
height: 20px;
}

#topmenu .level2 a:hover{
background: transparent;
color: #255075 !important;
}

#leftmenu {
position: relative;
background: #fff url(../../img/sh-ce-right.png) right top repeat-y;
padding: 0 1px;
width: 346px;
margin-left: 10px;
}

#leftmenu ul, #leftmenu li {
margin: 0 !important;
list-style-type:none;
padding: 0 !important;
}

#activemenu {
height: 36px;
display:block;
border-bottom: 1px #255075 solid;
width: 337px;
font-size: 0.875em;
}

#activemenu span{
vertical-align: center;
horizontal-align: right;
padding: 9px 10px;
display:block;
float:left;
color: #255075;
text-transform: uppercase;
}

#leftmenu a {
color: #255075;
text-indent: 76px;
display:block;
font-weight: bold;
width: 337px !important;
}

#leftmenu a:hover {
background: #d7e4f1;
text-decoration: none;
width: 337px !important;
}

#leftmenu li.first {
margin-top: 10px;
}@charset "UTF-8";
/* ARTIKEL */

h1{
font-size:1.0625em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
padding-left: 13px;
}

h2{
font-size:0.93em;
color: #424242 !important;
margin: 0px;
padding: 0px;
font-weight: normal;
padding-left: 13px;
}

.rahmen .title h2, .rahmen .title h1 {
display:block;
text-transform: uppercase;
display:block;
border-bottom: 1px #255075 solid;
height: 22px;
color: #255075 !important;
padding: 1px 10px 5px 13px;
margin-bottom: 15px;
font-size: 0.875em;
}

.rahmen .text .titel h2{
padding-left: 13px;
font-weight: bold;
}

.teasertext h2 {
padding-left: 0;
}



h2 a{
color: #424242 !important;
}

h3{
font-size:0.88em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
padding-left: 13px;
}

h4{
font-size:0.82em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
}

a{
color: #255075;
text-decoration: none;
}

#right a {
font-weight: bold !important;
}

a:hover{
color: #000;
text-decoration: none;
}

.bodytext{
font-size: 0.8125em;
color: #424242;
padding: 0 20px 0 20px;
}

#main ul li ul, #main ol li ol{
margin: 0px;
}

#main ul, #main ol{
margin: 5px 0 20px 20px;
padding: 0 0 0 15px;
}

#main ol{
padding: 0 0 0 20px;
}

#main li {
font-size: 0.8125em;
color: #333;
}

#main li li{
font-size: 1em;
color: #333;
}

.highlight {
background: url(../../img/bg-highlight.jpg) no-repeat 30px 0px;
width: 339px;
display:block;
height: 225px;
margin-top: -6px;
position: relative;
}

.highlight .csc-textpic {
padding: 20px 27px 20px 47px;
}

.highlight .bodytext{
color: #255075;
font-weight: bold;
padding: 0 !important;
margin: 0 !important;
}

.highlight p.align-right {
float:right;
margin: 0;
text-align: right;
background: url(../../img/iconset-arrows.png) no-repeat bottom right;
padding-right: 22px;
height: 16px;
}

.highlight p.align-right a{
font-size: 0.8125em;
line-height: 16px;
display:block;
width: 120px;
height: 16px;
}

.txtteaser{
padding: 10px;
margin: 10px;
}

.txtteaser .bodytext{
padding: 0;
}

.ce_iframe {
background: #fff;
padding-bottom: 10px;
}

.ce_iframe .titel{
border-bottom: 1px solid #255075;
}

.ce_iframe .titel h2 {
color: #255075 !important;
padding-bottom: 10px;
}

.noobwrap {
clear:both !important;
float:none !important;
}

.trustyou {
float: right;
position: absolute;
top: 65px;
}

iframe#sb-content .review {

}/* TABELLE */

/* Tabelle im Text */
table{
margin-bottom: 10px;
border: 0;
border-collapse: collapse;
margin: 10px 11px 10px 13px;
}

table.breit {
float:left;
display:block;
width: 612px;
overflow:hidden;
}

table h1{
font-size:0.93em;
padding-bottom: 20px;
}

table th{
padding:0;
margin: 0;
vertical-align: middle;
font-size: 0.8125em;
background-color: #fff;
color: #333;
}

table td{
padding:0;
margin: 0;
vertical-align: middle;
border: 1px #245075 solid;
font-size: 0.8125em;
padding: 0 5px;
}

table .tr-even{
background-color: #fff;
}

table .tr-odd{
background-color: #fff;
}

table .tr-0{
line-height: 100%;
height: 25px;
overflow: hidden;
padding: 0;
margin: 0;
background: #245075;
color: #fff;
font-size: 1em; 
text-align: center;
}

table caption{
font-size:16px;
color: #98c10f;
text-align:left;
padding-left:65px;
margin-bottom:10px;
font-weight:bold;
}/* RGMEDIAIMAGES */

.noflashtxt{
background: #fff;
font-size: 0.75em;
line-height: 20px;
text-indent: 5px;
}

/* RGFORMVALID */

#diverroremail table td{
border: 0;
padding: 0;
margin: 0;
}

/* INDEXEDSEARCH */

.tx-indexedsearch{
font-size: 0.82em;
padding-left: 20px;
}

.tx-indexedsearch-title{
padding: 0;
margin: 0;
}

.tx-indexedsearch-title h2{
line-height: 18px;
height: 18px;
}

#main .normal .tx-indexedsearch ul{
list-style: none;
padding: 0;
margin: 0;
font-size: 1em;
}

ul.browsebox {
margin: 0 !important;
padding: 0 !important;
}

.tx-indexedsearch-browsebox li {
float:left;
display:inline;
list-style-type: none;
padding: 2px 10px 20px 0;
margin: 0;
}

.tx-indexedsearch-icon{
float: left;
}

.tx-indexedsearch-resline{
clear: left;
margin-top: 10px;
background-color: #fff;
}

.tx-indexedsearch-resline{
padding: 5px;
margin-bottom: 10px;
}

/* SEARCHBOX */
.tx-macinasearchbox-pi1{
margin: 0px;
padding: 0;
background-color: #ffffff;
width: 217px;
height: 27px;
position: absolute;
left: 399px;
top: 0;
}

.tx-macinasearchbox-pi1 #mySearchbox{
margin: 0px;
padding: 2px;
padding-top: 5px;
height: 15px;
border: none;
width: 179px;
float: left;
font-size:0.75em;
padding-left: 10px;
}

.tx-macinasearchbox-pi1 .submitBtn{
height: 14px;
width: 14px;
margin: 0px;
padding: 0px;
border: 0px;
padding-top: 5px;
}

.tx-andshadowbox-pi1 {
padding-left: 10px;
}

.tx-andshadowbox-pi1 span{
display:block;
width: 130px;
overflow:hidden;
float:left;
text-align: center;
margin-bottom: 10px;
}

.tx-andshadowbox-pi1 a.downloadlink {
font-size: 0.8125em;
}

.tx-andshadowbox-pi1 img.thumbnail {
border: none;
margin-bottom: 5px;
}

#breadcrumb {
padding-left: 10px;
height: 30px;
color: #fff;
}

#breadcrumb a{
color: #fff;
line-height: 30px;
font-size: 0.75em;
}

/*TT_news*/

.news-list-item {
padding: 10px;
}

.news-list-image {
float:left;
display:inline;
padding-right: 20px;
}

.news-list-text {
padding: 0 10px;
}

.news-list-text .bodytext {
padding: 0;
}

.news-list-morelink a {
font-size: 0.8125em;
}

.news-single-item .bodytext {
padding: 0 10px 0 10px;
}

.news-single-img {
float:left;
display:inline;
padding-left: 10px;
padding-right: 10px;
}

.news-single-backlink {
padding: 10px;
font-size: 0.8125em;

}

.news-single-timedata {
padding: 10px 0 0 10px;
}

/*Urlaubsplaner*/
.tx-qcomurlaubsplaner-pi2 {
padding: 0 10px 10px 10px;
}

.tx-qcomurlaubsplaner-pi2 img, .tx-qcomurlaubsplaner-pi2 td{
border: none; 
}

.tx-qcomurlaubsplaner-pi2 table td, .tx-qcomurlaubsplaner-pi2 table th {
font-size: inherit !important;
}

.tx-qcomurlaubsplaner-pi2 .downloadlink a{
font-size: 0.8125em;
}

input.tx_qcomurlaubsplaner_pi2_submit {
font-size: 0.8125em !important;
}

.tx-icextaddress-pi1 .browseBoxWrap {
background: #EBF0EC;
font-size: 0.8125em;
}

.tx-vgetagcloud-pi1 {
width: 798px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
}

#wetter {
float:left;
display:block;
margin-left: 13px;
margin-bottom: 10px;
}

.tx-vgetagcloud-pi1 span {
padding-bottom: 5px;
}

#wetter table {
font-family: "Trebuchet MS";
margin: auto !important;
}

#wetter td {
border: none !important;
padding: 5px !important;
}

#wetter_aktuell {
position: absolute;
left: 100px;
top: 100px;
width: 187px;
}

#wetter_aktuell img{
display:inline;
float:left;
}

#wetter_aktuell a {
display:block;
height: 20px;
width: 180px !important;
color: #fff !important;
}


#wetter_aktuell span {
cursor: pointer;
display:inline;
float:left;
padding-top: 5px;
}/* TOOLBAR */
#toolbar{
font-size: 0.75em;
color: #fff;
margin: 28px 0 0 0;
padding: 10px 0 10px 0;
clear: both;
border-top: 1px solid #255075;
}

#toolbar .label, #toolbar .tx-pmtipafriend-pi1{
padding: 3px 0 0 5px;
display: block;
float: left;
}

#toolbar .icon{
margin: 2px 0 0 10px;
height: 18px;
width: 18px;
display: block;
float: left;
}

#toolbar .auf {
float: left;
padding: 3px 0 0 5px;
}

#toolbar .twitter .icon {
background: url(../../img/twitter.png) no-repeat 0px 0px;
}

#toolbar .facebook .icon {
background: url(../../img/facebook.png) no-repeat 0px 0px;
}

#toolbar .drucken .icon {
background: url(../../img/iconset-tools.png) no-repeat 0px 0px;
}

#toolbar .merken.open .icon {
background: url(../../img/iconset-tools.png) no-repeat -36px 0px;
}

#toolbar .merken.add .icon {
background: url(../../img/iconset-tools.png) no-repeat -18px 0px;
}

#toolbar .empfehlen .icon {
background: url(../../img/iconset-tools.png) no-repeat -52px 0px;
}

#toolbar .merken .icon {
background: url(../../img/iconset-tools.png) no-repeat -18px 0px;
}

#toolbar .uplaner{
padding: 0 10px 0 0;
float: left;
display: inline;
}

#toolbar .fontsize{
padding: 0 0 0 10px;
float: left;
display: inline;
}

#toolbar .fontsize .label{
padding-right: 10px;
float: left;
padding-left: 0 !important;
}

#toolbar .fontsize .tx-efafontsize-pi1{
float: left;
margin-top: -2px;
}

#toolbar .fontsize a {
display:block;
float:left;
position: relative;
color: #ffffff;
}

#toolbar .fontsize a:hover{
text-decoration: underline;
}

#efa-smaller {
line-height: 26px;
}

#efa-reset {
line-height: 25px;
}

#efa-bigger{
line-height: 22px;
}

#toolbar .fontsize .icon{
padding: 0;
margin: 2px 5px 0 5px;
display: block;
float: left;
background: transparent;
}

#efa-smaller{
font-size: 0.8125em;
}

#efa-reset{
font-size: 1em;
}

#efa-bigger{
font-size: 1.25em;
}

#toolbar a{
text-decoration: none;
color: #fff;
}

#toolbar a:hover{
text-decoration: underline;
}

#toolbar .drucken{
display: inline;
float: left;
}

#toolbar .empfehlen{
display: inline;
float: left;
}

#toolbar .empfehlen {
display: inline;
float: left;
}

#toolbar .merken{
display: inline;
float: left;
}
@charset "UTF-8";
/* MAILFORM */

#mailformular{
display: block;
padding: 0;
color: #464646;
}

#mailformular form{
border: none;
padding: 20px 20px;
margin: 0;
font-family: "Trebuchet MS";
font-size: 0.8125em;
}

#mailformular fieldset {
border: 0;
margin: 0;
padding: 0;
}

#mailformular .csc-mailform-field{
display: block;
float:left;
width:420px;
margin-bottom: 10px;
}


#mailformular .csc-mailform-label {
float:none;
width: 420px;
padding-bottom: 10px;
clear:left;
}

#mailformular .csc-mailform-field fieldset legend{
display: none;
}

#mailformular .csc-mailform-field fieldset label{
float: right;
}

#mailformular .csc-mailform-field span.csc-mailform-radio fieldset label{
float: none;
padding-left: 10px;
}

#mailformular .csc-mailform-field span.csc-mailform-radio input {
border: none !important;
}

#mailformular .csc-mailform-field fieldset input{
clear: both;
margin: 3px 0 0 0;
}

#mailformular LABEL{
float:left;
width: 180px;
padding: 0px;
line-height: 20px;
}

#mailformular input{
border: 1px #999 solid;
font-family: "Trebuchet MS";
color:#464646;
margin: 0px;
padding: 2px;
line-height: 20px;
width:234px;
}

#mailformular textarea{
width:234px;
height: 200px;
border: 1px #999 solid;
font-family: "Trebuchet MS";
font-size: 1em;
color:#464646;
margin: 0px;
margin-top: 2px;
padding: 2px;
}

#mailformular .csc-mailform-check{
width: auto;
height: auto;
border: 0px;
margin-bottom: 10px;
margin-right: 5px;
}

.csc-mailform-submit, .submit-btn-blue a, .tx_qcomurlaubsplaner_pi2_submit{
width: 100px !important;
background: url(../../img/submit-btn.jpg) no-repeat 50%; 
height: 21px;
padding: 0 10px;
text-align: center;
line-height: normal;
font-size: 1em;
cursor: pointer;
border: none !important;
display:block;
float:right !important;
margin:10px;
color: #fff !important;
}

#mailformular .csc-mailform-submit:hover{
color: #005eae;
}

#mailformular.csc-mailform-radio fieldset{
padding: 0px;
margin: 0px;
}

#mailformular .csc-mailform-radio input{
width: auto;
height: auto;
padding: 0px;
margin: 0px;
float:left;
}

#mailformular.csc-mailform-radio label{
padding: 5px;
padding-top: 0px;
margin: 0px;
}/*IC_CITYTOURS*/
.tx-iccitytours-pi1 {
position: relative;
}

.formbtn {
height:26px;
width:138px;
font-size:.8125em;
background:url(../../img/formbtn.png) no-repeat;
line-height:26px;
text-align:center;
color:#fff;
margin:0 0 5px;
}

.formbtn a {
color:#fff;
}

.formbtn a:hover {
text-decoration:none;
}

.tx-iccitytours-pi1 .title h2 {
color:#124064;
padding-left: 0;
}

.tx-iccitytours-pi1 .introtext .imgwrap {
float:left;
margin:0 20px 20px 0;
}

.tx-iccitytours-pi1 .introtext .floatbox {
width:290px;
float:right;
}

.tx-iccitytours-pi1 h3 {
padding-bottom:0;
color:#124064;
}

.tx-iccitytours-pi1 .services ul {
padding-left:0!important;
}

.tx-iccitytours-pi1 .services li {
list-style:none;
background:url(../../img/listarrow.png) no-repeat left center;
margin-left:0;
padding-left:15px;
}

.tx-iccitytours-pi1 .price .bodytext {
color:#143B8D;
}

.tx-iccitytours-pi1 .organizer {
float:left;
width:280px;
}

.tx-iccitytours-pi1 .organizer span {
float:left;
clear:left;
}

.tx-iccitytours-pi1 .organizer label {
width:60px;
float:left;
clear:left;
}

.tx-iccitytours-pi1 .linkbox {
clear:both;
float:right;
padding: 10px;
}

.tx-iccitytours-pi1 .linkbox .btn {
float:right;
margin-left:15px;
}

#arrangementform {
padding:10px;
}

.tx-iccitytours-pi1 .formsent {
display:block;
float:left;
margin-bottom:10px;
width:470px;
font-size:.8125em;
font-weight:700;
padding:14px;
}

.tx-iccitytours-pi1 .csc-mailform-field {
display:block;
height:40px;
text-align:left;
clear:both;
font-size:.82em;
line-height:30px;
color:#333;
width: 450px;
}

.tx-iccitytours-pi1 .csc-mailform-field .title-offer {
width:292px;
float:left;
margin-left:-3px;
display:inline;
line-height:20px;
}

.tx-iccitytours-pi1 .csc-mailform-field #offer {
width:243px;
border:1px #7f7f7f solid;
}

.tx-iccitytours-pi1 .csc-mailform-field img {
border:1px solid #000;
}

.tx-iccitytours-pi1 .csc-mailform-field label {
display:block;
float:left;
line-height:16px;
color:#333;
padding:5px 10px 0 0;
}

.tx-iccitytours-pi1 .csc-mailform-field label.first {
width:180px;
line-height:20px;
padding:0;
}

.tx-iccitytours-pi1 .csc-mailform-field input {
width:240px;
margin-right:10px;
float:left;
border:1px #7f7f7f solid;
}

.tx-iccitytours-pi1 .csc-mailform-field textarea {
width:240px;
height:150px;
border:1px #7f7f7f solid;
float:left;
margin-right:10px;
}

.tx-iccitytours-pi1 .csc-mailform-field input.csc-mailform-check {
width:auto;
border:none;
}

.tx-iccitytours-pi1 .csc-mailform-field .category {
float:left;
display:block;
}

.tx-iccitytours-pi1 .csc-mailform-field input.csc-mailform-submit {
width:150px;
}

.tx-iccitytours-pi1 .csc-mailform-field input.adults {
width:25px;
text-align:center;
}

.tx-iccitytours-pi1 .csc-mailform-field input.zip {
width:60px;
float:left;
}

.tx-iccitytours-pi1 .csc-mailform-field input.city {
width:168px;
float:left;
}

.tx-iccitytours-pi1 .csc-mailform-field .formfield {
display:block;
float:left;
position:relative;
height:40px;
}

.tx-iccitytours-pi1 .csc-mailform-error {
display:block;
float:left;
clear:left;
background:#F4BA2C;
color:#D9320E;
width:100%;
font-size:1em;
text-indent:10px;
font-weight:700;
margin:0 0 10px;
padding:0;
}

#pagebrowser {
background:#ebf0ec;
border:2px #fff solid;
text-align:center;
font-size:.8125em;
margin:10px 20px 10px 10px;
padding:10px;
}

.inactiveLinkWrap a {
text-decoration:none;
color:#036;
font-weight:400;
border:0;
}

.inactiveLinkWrap a:hover {
text-decoration:underline;
}

.activeLinkWrap {
color:#036;
font-weight:700;
text-decoration:underline;
border:0;
}

.disabledLinkWrap {
color:#333;
}

#hotel {
width:290px;
}

.tx-iccitytours-pi1 td {
border:none!important;
margin:0!important;
padding:0!important;
}

.tx-iccitytours-pi1 th {
border:none!important;
}

#arrangementform .category {
width:25px;
}


.tx-iccitytours-pi1 .bigpic {
margin-top: -15px;
margin-left: -15px;

float:left;

}

.tx-iccitytours-pi1 .smallpic {
float:left;
display:inline;
}

.tx-iccitytours-pi1 .smallpics {
padding-left: 20px;
display:block;
float:left;
}

.tx-iccitytours-pi1 .introtext .txtwrap {
width: 260px;
float:left;
padding: 20px 0 0 20px;
}

.tx-iccitytours-pi1 .bodytext {
padding: 0;
margin: 0;
}

.tx-iccitytours-pi1 .submit-btn-blue a {
font-size: 0.8125em;
}

.tx-iccitytours-pi1 .introtext {
}

.tx-iccitytours-pi1 .guesttext {
position: absolute;
left: 20px;
top: 300px;
width: 270px;
}

.tx-iccitytours-pi1 .guesttext .guestheader{
color: #255075;
font-size: 0.8125em;
padding-bottom: 5px;
}

.tx-iccitytours-pi1 h3 {
font-weight: bold;
display:block;
font-size: 0.8125em;
line-height: 120%;
float:left;
padding-left: 0 !important;
}

.tx-iccitytours-pi1 .cityicon {
display:block; 
width: 16px;
padding-right: 4px;
height: 16px;
float:left;
}

.tx-iccitytours-pi1 .highlights .cityicon {
background: url(../../img/iconset-citytours.jpg) no-repeat 0px 0px;
}

.tx-iccitytours-pi1 .date .cityicon {
background: url(../../img/iconset-citytours.jpg) no-repeat 0px -16px;
}

.tx-iccitytours-pi1 .meetingpoint .cityicon {
background: url(../../img/iconset-citytours.jpg) no-repeat 0px -48px;
}

.tx-iccitytours-pi1 .duration .cityicon {
background: url(../../img/iconset-citytours.jpg) no-repeat 0px -32px;
}

.duration, .organizer, .date, .meetingpoint, .highlights {
margin-top: 10px;
}

.fuehrungsteaser {
padding: 0 10px 10px 10px;
}

.fuehrungsteaser .imgwrap {
width: 197px;
overflow:hidden;
float:left;
}

.fuehrungsteaser .txtwrap{
float:left;
display:inline;
width: 380px;
padding-left: 10px;
overflow:hidden;
}