/* all content elements must have width and height attributes */

.dropShadowBackground {
	background-color: #000; /* if you like to have a colored shadow, just enter another color */
	overflow: hidden; /* don't leave this out, otherwise it'll look ugly in ie6'' */
}

.contentdiv {
	width: 300px;
	height: 217px;
	background-color: #ccc;
	float: left;
}

