/* THUMBNOOBSLIDE */

.thumbnoobslide{
position: relative;
float: left;
}

.thumbnoobslide div img {
border:none;
}

.thumbnoobslide .imgmask, .thumbnoobslide .thumbmask{
position:relative;
overflow:hidden;
}

.thumbnoobslide .imgbox span {
display:block;
position: relative;
float: left;
}

.thumbnoobslide div.thumbs{
margin-top: 5px;
}

.thumbnoobslide .thumbs div{
float: left;
}