@charset "UTF-8";
/* Print */
body {
font-family: "Trebuchet MS";
font-size: 16px;
height: auto;
}


#efaTest, .hidden, #shadowbox_container {
display:none !important;
height: 0 !important;
}

#top, #left, #breadcrumb, #bottom, .tx-vgetagcloud-pi1, #sb-container{
display: none !important;
}

.teaser {
display: inline;
width: 200px;
float:left;
}

.teaser a {
font-size: 0.8125em;
}

/* ARTIKEL */

h1{
font-size:1.0625em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
}

h2{
font-size:0.93em;
color: #424242 !important;
margin: 0px;
padding: 0px;
font-weight: normal;
padding-left: 13px;
}

.rahmen .title h2, .rahmen .title h1 {
display:block;
text-transform: uppercase;
display:block;
height: 22px;
color: #255075 !important;
margin-bottom: 15px;
font-size: 0.875em;
}

.rahmen .text .titel h2{
font-weight: bold;
}

.teasertext h2 {
padding-left: 0;
}

h3{
font-size:0.88em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
padding-left: 13px;
}

h4{
font-size:0.82em;
color: #333;
margin: 0px;
padding: 0px;
font-weight: normal;
}

a{
color: #255075;
text-decoration: none;

}

h2 a{
color: #424242 !important;
font-size: 1em;
}

a:hover{
color: #000;
text-decoration: none;
}

.bodytext{
font-size: 0.8125em;
color: #424242;
}

.fuehrungsteaser .imgwrap {
float:left;
width: 200px;
}

.fuehrungsteaser .txtwrap {
float:left;
width: 440px;
}

#pagebrowser {
display:none !important;
}

ul li {
font-size: 0.8125em;
}

.cityicon {
display:none;
}

.tx-iccitytours-pi1 .highlights h3 {
padding: 0;
margin-left: -13px;
}

table.contenttable {
float:left;
font-size: 0.8125em;
clear:left;
}

.noobwrap {
display:block;
position: relative;
width: 600px;
min-height: 270px;
float:none !important;
clear:both !important;
border: 1px solid #fff;
}

.noobwrap .itr {
float: left !important;
height: 310px !important;
display:block;
width: 300px;

clear:none !important;
}

.noobwrap .bodytext {
clear:none !important;
float:left !important;
width: 280px;
display:block;
}

.killfloat {
clear:both;
height:0;
overflow:hidden;
width:0;
}